@charset "utf-8";

body{
  background-color: black;
  margin: 0;
}

/*      NAVBAR      */
/* ideér och med hjälp av https://codepen.io/juliepark/details/rPVjdM
https://www.youtube.com/watch?v=At4B7A4GOPg*/

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding-bottom: 10px;
  width: 100%;
  }
  
.nav-sec1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
  
.nav-sec1 a img {
  padding-left: 30px;
}
  
.nav-sec2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-top: 20px;
}
  
.search-nav {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}
  
  .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
  
input[type=search] {
  -webkit-box-shadow: 6px 6px 6px rgba(241, 242, 246, 0.4);
          box-shadow: 6px 6px 6px rgba(241, 242, 246, 0.4);
  background: #000000;
  border: 2px solid #f1f2f6;
  outline: none;
  width: 380px;
  height: 35px;
  border-radius: 15px 0 0 15px;
  font-size: 1.1em;
  font-weight: 300;
  padding: 0px 10px;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-transform: unset;
  color: #f1f2f6;
}
  
::-webkit-input-placeholder {
  color: #f1f2f6;
  font-size: 0.8em;
}
  
:-ms-input-placeholder {
  color: #f1f2f6;
  font-size: 0.8em;
}
  
::-ms-input-placeholder {
  color: #f1f2f6;
  font-size: 0.8em;
}
  
::placeholder {
  color: #f1f2f6;
  font-size: 0.8em;
}
  
.search-btn {
  -webkit-box-shadow: 6px 6px 6px rgba(241, 242, 246, 0.4);
          box-shadow: 6px 6px 6px rgba(241, 242, 246, 0.4);
  height: 35px;
  width: 45px;
  outline: none;
  border-radius: 0 15px 15px 0;
  background: #f1f2f6;
  color: #000000;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
  
.search-btn:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
  
.search-btn:hover i {
  font-size: 2.5em;
}
  
.search-btn i {
  font-size: 2.3em;
}
  
.nav-sec3 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
padding-top: 5px;
  }
  
nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 10px 0 0 0;
  text-align: end;
  font-size: 16px;
}
  
nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #e15f41;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
nav.primary-navigation li a {
  color: white;
}
  
nav.primary-navigation li a:hover {
  color:#e15f41;
}
  
nav.primary-navigation li:hover {
  cursor: pointer;
}
  
a {
  text-decoration: none;
}
  
a:hover {
  color:#e15f41;
}



/*      HEADER      */

header {
  display:flex;
  justify-content: flex-start; 
  align-items: stretch; 

  min-height: 500px;

  padding-top: 10px;

  margin: 15px;
}

.header-1 {
  flex: 4;
}

.header-1 a img {
  width: 100%;
  height:100%;
  position:relative;
}

.overlay-text {
  position: absolute;
  text-align:left;
  color: #e15f41;
  top: 565px;
  left: 20px;
  margin:0;
  letter-spacing: 4px;
  text-shadow: 1px 1px white;
  font-size: 25px;
  font-family: 'Merriweather', serif;
}
.header-2{
  flex: 2;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-2 section {
  height: 155px;
  width: 100%;

  position: relative;
}

.h2-overlay {
  position: absolute;
  width: 100%;
  height:25px;
  top: 110px;
  padding-top: 10px;

  background-color: transparentize($color: white, $amount: .1);

  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  font-size: 13px;

  text-align: center;
}

.pic-1 {
  background-image: url(/Smörgåsbordet/projects/10-Film-And-Series/assets/images/marvel1.jpg);
}

.pic-2 {
  background-image: url(/Smörgåsbordet/projects/10-Film-And-Series/assets/images/disney34.jpg);
}

.pic-3 {
  background-image: url(/Smörgåsbordet/projects/10-Film-And-Series/assets/images/netflix.jpg);
}

.pic-1,
.pic-2,
.pic-3 {
  filter: brightness(80%);
  background-size: cover;
}

.pic-1:hover,
.pic-2:hover,
.pic-3:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.filter {
  transition: filter .4s;
}

/*      MAIN      */

main {
    min-height: 100px;
    background-color: black;

    padding: 10px 0px;
    margin-bottom: 30px;
}

/*      FLIP CARDS      */
/* TAGEN FRÅN https://www.w3schools.com/howto/howto_css_flip_card.asp*/

.flipcard-h2 {
  font-family: Arial;
  color: #e15f41;
  text-shadow: 1px 1px white;
  text-align: center;
  margin: 60px 0 10px 0;

}

.card {
  display: flex;
  justify-content: space-evenly;

  padding: 10px 0px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  

.flip-card-front {
    background-color: #bbb;
    color: black;
}
  

.flip-card-back {
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
}


:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}


.card-h1{
  margin: calc(20vh - 10px) auto 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  color: lightgrey;
  animation: neon 3s infinite;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}


@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

.card-p {
    padding:0;
    margin:0;
    color: mix(#fff, black, 20%);
    font-size: 15px ;  
    font-weight: 900;
    text-shadow: 
      -0.0075em 0.0075em 0 mix(#fff, black, 94%),
      0.005em 0.005em 0 mix(#fff, black, 60%),
      0.01em 0.01em 0 mix(#fff, black, 62%), 
      0.015em 0.015em mix(#fff, black, 64%), 
      0.02em 0.02em 0 mix(#fff, black, 66%), 
      0.025em 0.025em 0 mix(#fff, black, 68%),
      0.03em 0.03em 0 mix(#fff, black, 70%),
      0.035em 0.035em 0 mix(#fff, black, 72%);
  
  font-family: "Inter", sans-serif;  
}

.card-p, .card-p:after, .card-p:before {
	box-sizing: border-box;
}


/*      SCROLL BAR EFFEKT       */
/* https://raddy.co.uk/blog/netflix-carousel-using-css/ */

$itemGrow: 1.2;
$duration: 250ms;

html {
  scroll-behavior: smooth;
}


.wrapper-h2 {
  font-family: Arial;
  color: #e15f41;
  text-shadow: 1px 1px white;
  text-align: center;
  margin: 40px 0 10px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
  scroll-behavior: smooth;

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 20px 0;
    
    .item {
      padding: 0 2px;
      transition: $duration all;
      
      &:hover { 
        margin: 0 40px;
        transform: scale(1.2);
      }
      
    }
    
    a {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      background:rgb(0,0,0);
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;
      
      &:nth-of-type(1) {
        top:0; bottom:0; left:0;
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
      &:nth-of-type(2) {
        top:0; bottom:0; right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
      
    }
    
  }
}


/*      FOOTER      
https://w3hubs.com/simple-footer-in-html5-and-css3/*/

.w3hubs-footer{
	width: 100%;
	height: auto;
  margin: auto;
	background:#272727;
  padding-top: 20px;
  padding-bottom: 2px;
  
  margin: 0px;
	box-sizing: border-box;
	
}
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-icon ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:orange; 
}
.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-icon ul li a i{
	line-height: 50px;
}
.w3hubs-icon ul li:hover{
	background: #e67e22;
}
.w3hubs-icon ul li a:hover >i{
	transform: scale(1.6) rotate(25deg);
}
.w3hubs-nav{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 25px;
}
.w3hubs-nav ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.w3hubs-nav ul li{
	display: inline-block;
	margin: 10px 20px;	 
}
.w3hubs-nav ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.w3hubs-nav ul li a:hover{
	color:  #e67e22;
}

.w3hubs-nav1{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 15px;
}
.w3hubs-nav1 ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.w3hubs-nav1 ul li{
	display: inline-block;
	margin: 0px 20px;	 
}
.w3hubs-nav1 ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.w3hubs-nav1 ul li a:hover{
	color:  #e67e22;
}
.w3hubs-nav2{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-nav2 ul{
	
	text-align: center;
}

.w3hubs-nav2 ul li{
	
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#fff; 
}
.w3hubs-nav2 ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-nav2 ul li a i{
	line-height: 50px;
}
.w3hubs-nav2 ul li:hover{
	background: #e67e22;
}
.w3hubs-nav2 ul li a:hover >i{
	transform: scale(1.6) rotate(180deg);
}


@media(max-width:691px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 16px;
}
}
@media(max-width:604px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 14px;
}
.w3hubs-nav ul li{
	padding: 0px ;
}
}
@media(max-width:559px ){

.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 13px;
}

}
@media(max-width:539px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 11px;
}
.w3hubs-nav ul li{
	margin: 5px 20px;
}
.w3hubs-nav ul li.p1 {
    padding-top: 10px;
}
}
@media(max-width:380px ){
	.w3hubs-nav ul li,.w3hubs-nav1 ul li{
		display: block;
		padding: 5px;
	}
.w3hubs-nav2 ul li{
	display: none;
}
.w3hubs-icon ul li a i {
    line-height: 38px;
}
.w3hubs-icon ul li a{
	font-size: 20px;
}
.w3hubs-icon ul li{
width: 40px;
    height: 40px;
}
}
@media(max-width: 375px){
	.w3hubs-nav ul li.p1 {
    padding-top: 0px;
  }
}