@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    height: auto;
}

header {
    width:100%;
    height: 250px;
    padding: 0px 200px;

    background-color: #DFDFDF;

    justify-content: space-between;
    align-items: center;
}

header h1{
    flex: 1;
    font-size: 52px;
    font-weight: bold;
}

.span-logo {
    color: #7fbf7f;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu {
    display:none;
}

input[type="checkbox"] {
    display: none;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    justify-content: space-evenly;
    font-size: 22px;
}

nav li {
    cursor: pointer;
}

main {
    width: 100%;
    min-height: 800px;
}

.main-left,
.main-right {
    background-color: #d6c6c6;
    flex: 1;
}

.main-center {
    background-color: #CCB8B8;
    flex: 4;
}

.main-right {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rectangle-1 {
    position: relative;
    height: 280px;
    width: 185px;
    background-color: white;
    margin-top: 30px;

    justify-content: center;
}

.rectangle-1 p {
    margin-top:90px;
}

.circle-1 {
    position: absolute;
    background-color: black;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    border: 5px solid  #d6c6c6;
    top: 265px;
    right: 43px;
}

.rectangle-2 {
    position: relative;
    height: 280px;
    width: 185px;
    background-color: white;
    margin-bottom: 20px;

    justify-content: center;
}

.rectangle-2 p {
    margin-top:90px;
}

.circle-2 {
    position: absolute;
    background-color: black;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    border: 5px solid  #d6c6c6;
    top: 640px;
    right: 43px;
}

footer {
    width: 100%;
    height: 250px;

    background-color:#AFAEAE;
}

/* Utility Classes */

.add-flex {
    display: flex;
}

.active {
    font-weight: bold;
}

/* Färger: #4C5C7B */