@charset "utf-8";

::selection {
    background-color: #f30049;
    color: white;
}
header {
    flex-direction: column;
    justify-content: space-around;
}

header h1 {
    order: 2;
    flex: 0;
    margin-top: -70px;
    font-size: 60px;
}

.span-logo {
    color: #f30049;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu {
    display:none;
}

nav {
    width: 100vw;
    order: 1;
    flex: 0;
}

main {
    flex-direction: column;
    min-height: 1000px;
}

.main-left {
    order: 2;
    border-bottom: 1px solid #DFDFDF;
}

.main-center {
    order: 1;
    flex: 3;
}

.main-right {
    order: 3;
    flex-direction: row;
}

.rectangle-1 {
    height: 185px;
    width: 280px;
}

.rectangle-1 p {
    margin-top:90px;
}

.circle-1 {
    position: absolute;
    background-color: black;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    border: 5px solid  #d6c6c6;
    top: 265px;
    right: 43px;
}

.rectangle-2 {
    position: relative;
    height: 280px;
    width: 185px;
    background-color: white;
    margin-bottom: 20px;

    justify-content: center;
}

.rectangle-2 p {
    margin-top:90px;
}

.circle-2 {
    position: absolute;
    background-color: black;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    border: 5px solid  #d6c6c6;
    top: 640px;
    right: 43px;
}