
body {
    background-color:#F3F3F3;
}

.tablet-nav {
    display: none;
}

.computer-nav {
    display: none;
}

.phone-nav {
    height: 60px;
}

.border-phone-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-phone {
    height: 4px;
    width: 95%;
}

.pink {
    background-color: #F6A9A9;
}

.green {
    background-color: #C0DEC7;
}

.header-object {
    display: none;
}

.header-object-phone-container {
    display: flex;
    justify-content: center;
}

.header-object-phone {
    margin: 10px 0 10px 0;
    background-image: linear-gradient(#C0DEC7, #F6A9A9);
    width: 95%;
    height: 670px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-object-phone h2 {
    color: white;
    width: 330px;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 3px grey;
}

.p {
    margin: 10px 0 20px 0;
    width: 240px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px grey;
}

.header-button-phone {
    width: 330px;
    height: 45px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button-phone p {
    font-size: 25px;
    text-shadow: none;
}

.h2 {
    font-size: 30px;
    margin-top: 90px;
}

.grid-container {
    display: none;
}

.main-phone-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-phone {
    width: 470px;
    height: 255px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

h5 {
    font-size: 23px;
    margin: 0px;
    margin-bottom: 10px;
}

.main-object {
    background-color: white;
    width: 100%;
    height: 87%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: .5px .5px 3px grey;
}

.main-object img {
    width: 50%;
}

.main-object-text {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-object-text p {
    font-size: 20px;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.text-align {
    text-align: end;
}

.reverse {
    text-align: end;
}

.about {
    margin: 30px 0 15px 0;
    font-size: 30px;
}

.about-phone-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-phone {
    height: 540px;
    width: 400px;
    background-color: white;
    box-shadow: .5px .5px 3px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img {
    margin-top: 20px;
    width: 85%;
    height: 340px;
}

.container-text {
    width: 85%;
    padding: 0;
}

.container-text p {
    margin-top: 15px;
}

.container-text h2 {
    margin-top: 25px;
}

.about-container {
    display: none;
}

/**/

.phone {
    display: block;
}

.tablet {
    display: none;
}

.computer {
    display: none;
}