
.tablet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.main-nav {
    background-color: #F3F3F3;
    width: 100%;
}

.logo {
    margin-left: 30px;
}

.nav-button {
    margin-right: 30px;
}

button {
    background-color: #C0DEC7;
}

.main-nav {
    background-color: #E4E4E4;
}

.main-nav-link a {
    padding: 10px 50px;
}

.tablet-img-1 {
    margin-top: 30px;
    display: block;
    width: 90%;
    height: 70px;
}

.header-object {
    display: block;
    width: 100%;
    height: 450px;
    background-color: #F6A9A9;
}

.tablet-img-2 {
    display: block;
    width: 90%;
    height: 70px;
    float: right;
}

.header-text {
    text-align: end;
    width: 57%;
    top: 80px;
    left: 240px;
}

.header-text h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.header-button {
    width: 250px;
    margin-top: 25px;
}


.h2 {
    margin-top: 150px;
}

.grid-container {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 0;
    align-items: center;
}

.container {
    height: 270px;
    width: 600px;
    margin: 15px 0;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-img {
    width:250px;
    height:250px;
    margin: 10px 20px 0 15px;
}

.container-text {
    width: 300px;

    padding-right: 40px;
}

h4 {
    font-size: 17px;
    margin-bottom: 5px;
}

.about-img {
    width: 50%;
    min-height: 340px;
    border: none;
}

.about-text {
    width: 50%;
    min-height: 340px;
    border-left:4px solid rgba(153, 177, 159);
    text-align: center;
}

h2 {
    margin-top:30px;
}
.about-text p,
.about-text h5 {
    font-size: 18px;
}

.about-text p {
    margin-top: 15px;
}

h5 {
    margin-top: 35px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #FFFFFF;
    height: 200px;
    width: 100%;
}

.footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    font-size: 22px;
    color: rgba(153, 177, 159);
}

.tablet-footer1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.tablet-footer2 {
    width: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;

}

.footer-child2 {
    margin-top: 10px;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-child2 img {
    width: 40px;
}

/*  Utility classes */

.computer {
    display: none;
}

.phone {
    display: none;
}

.tablet {
    display: block;
}


