@charset "UTF-8";
body {
  background-color:  #dfe6e9;
}

.navbar {
  overflow: hidden;
  background-color: #c8cfd1;
  position: fixed;
  top: 0;
  width: 100%;
  }
  
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}
  
.navbar a:hover {
  background: #ddd;
  color: black;
}
  

header {
  background-color:#e5ebed;
  min-height: 300px;
  background-image: url(../images/heartss.jpg);
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: black;
}

main section {
  height: 250px;
  background-color:#e2e8eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section p{
  color: white;
  font-size: 22px;
}

main section:nth-child(odd) {
  background-color:  #e5ebed;
}

footer {
  background-color: #c8cfd1;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
   