@charset "utf-8";

body {
    background-color: #d1ccc0;
}

h1, h4 {
    color: #141413;
}

h4 {
    margin-bottom:10px;
}

#celebrate {
    font-size: 26px;
}

.postKey {
    font-weight: bold;
    font-size: 18px;
    color: #3e3d39;
}

#movies {
    height: 100px;
    width: 500px;
}

#animals {
    height: 100px;
    width: 500px;
    font-size: 15px;
}