@charset "UTF-8";

body {
    background-color: #82ccdd;
}

ul li {
    cursor: pointer;
}

.some-class {
    color: rgb(229, 160, 171);
    border: 1px solid black;
    font-size: 55px;
}

.another-class {
    color: purple;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 5px;
}

img {
    display: block;
}

.to-do {
    text-decoration: line-through;
    color: greenyellow;
}