@charset "utf-8";

/* Hade velat göra detaljrikt men det blev lite knapert om tid i och med andra uppgifter, men det ser ok ut iaf*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#f8c789;
}

.nav-1 {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 95px;
}

.nav-1 a {
    text-decoration: none;
    color: black;
    margin: 0px 20px 0px 20px;
    font-size: 14px;
    transition: all .2s ease-in-out;
}

.nav-1 a:hover {
    transform: scale(1.01);
    color: #777;
}

.nav-1 p {
    margin-right: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* Dropdown Button */
/*Förbättringar går att göra*/
.dropbtn {
    background-color: white;
    color: #f39c12;
    width: 100px;
    height: 20px;
    font-size: 14px;
    border: none;
    margin-left: 15px;
    transition: all .1s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    border-radius: 9px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all .1s ease-in-out;
  }
  
  /* Links inside the dropdown */
  .dropdown-content div {
    color: black;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  .dropdown:hover .dropbtn {
      background-color: #f39c12;
      color: white;
    }

  .dropdown-content button {
      height: 20px;
      width: 100%;
      font-size: 10px;
  }

/* header */

header aside {
    background-color: none;
    height: 200px;
}

.aside-1 {
    flex: 1.25;
    background-image: url(../images/clouds.png);
    background-size: cover;
    /*FIXA*/
}

.aside-2 {
    flex: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-2 p {
    margin: 2px;
    font-family: 'Cabin', sans-serif;
}

.aside-2 img {
    margin-bottom: 5px;
    padding-top: 20px;
}

header div {
    flex: 3;
    height: 200px;

    text-align: center;
}

header div h1 {
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Original Surfer', cursive;
}

/* nav två */

.nav-2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 30px 15px 30px;
    height: 50px;
}

.nav-2 a {
    text-decoration: none;
    color: black;
    transition: all .2s ease-in-out;
}

.nav-2 a:hover {
    transform: scale(1.01);
    color: #777;
}

.nav-2 input {
    width: 250px;
    height: 20px;
}

/*Search Box 
https://www.youtube.com/watch?v=UOGvJhvLUg0&ab_channel=CodingMarket*/

.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
	width: 300px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 300px;
	height: 35px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	background: #f39c12;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #da8c10;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 16px;
}

.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input {
	border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}




/*  Main    */
main {
    height: 550px;
    margin-bottom: 30px;
}
 .main-1 {
    flex: 1.25;
    background-color: #dfb37b;
    box-shadow: 2px 2px 10px #777777 ;

    flex-direction: column;
    justify-content: space-evenly;
 }

 .main-2 {
    flex: 3;
    background-color:#dfb37b;
    box-shadow: 2px 2px 10px #777777 ;

    flex-direction: column;
 }

 .main-3 {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
 }
.main-1 h3 {
    margin: 20px 0px 15px 10px;
}

.con-1 {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 100%;
}


.con-1-1 {
    height: 100px;
    width: 56%;
    margin-left: 5px;
}


.con-1-2 {
    background-size: contain;
    height: 95px;
    width: 35%;
    margin-right: 5px;
}

.pic-1 {
    background-image: url(../images/forsränna.jpg);
    background-size: cover;
}

.pic-2 {
    background-image: url(../images/granö.jpg);
    background-size: cover;
}

.pic-3 {
    background-image: url(../images/hundspann.jpg);
    background-size: cover;
}

.pic-4 {
    background-image: url(../images/renar.jpg);
    background-size: cover;
}

.con-2 {
    flex: 2.7;
    width: 100%;

    flex-direction: row;
    align-items: flex-end;
}

.con-2-2 {
    background-color: #dfb37b;
    flex: 1.5;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-2 h3{
    margin: 25px 0px 15px 20px;
}

.con-2 p {
    width: 45%;
    height: 99%;
    text-align: left;
    margin: 0px 20px 0px 20px;
}

.img-con {
    width: 55%;
    height: 100%;
    margin-right: 20px;
    flex-direction: column;
    text-align: center;
}

.img {
    width: 100%;
    height: 80%;

    background-image: url(../images/jokkmokk_sjo.jpg);
    background-size: cover;
}

.img-con h4 {
    color: black;
    margin-top: 10px;
}

.carousel {
    flex-direction: row;

    height: 100%;
    width: 600px;
    overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
    background-color:#dfb37b;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 5px;
}

.carousel::-webkit-scrollbar-button {
    background-size: green;
}

.item-1 {
    margin: 0 6px 0 6px;
}

.item-1 img {
    width: 190px;
    height: 184px;
}

.item-1:nth-child(1) {
    margin: 0 6px 0 0;
}

.main-3 div {
    height: 175px;
    width: 100%;
    background-color:#dfb37b;
    box-shadow: 2px 2px 5px grey;
}

.img-slider-1 {
    animation: img-slider-1 10s infinite;
    cursor: pointer;

    background-size: cover;
}

@keyframes img-slider-1 {
    0%, 100% {
        background-image: url(../images/nor.jpg);
    }
    50% {
        background-image: url(../images/nor2.jpg);
    }
    75% {
        background-image: url(../images/norlogo.jpg);
    }
}

.img-slider-2 {
    animation: img-slider-2 8s infinite;
    cursor: pointer;

    background-size: cover;
}

@keyframes img-slider-2 {
    0%, 100% {
        background-image: url(../images/sas1.jpg);
    }
    50% {
        background-image: url(../images/sas2.jpg);
    }
    75% {
        background-image: url(../images/sas3.png);
    }
}

/* Utility Classes*/

.add-flex {
    display: flex;
}

.nav-margin {
    margin: 5px;
}

.margin-left {
    margin-left: 30px;
}

.margin-right {
    margin-right: 30px;
}

.margin-20 {
    margin: 0 20px 0 20px;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    font-family: 'Quicksand', sans-serif;
}