@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:whitesmoke;
}

.nav-1 {
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 30px;
    margin-bottom: 15px;
    margin-right: 95px;
}

.nav-1 a {
    text-decoration: none;
    color: black;
    margin: 0px 20px 0px 20px;
}

.nav-1 p {
    margin-right: 7px;
}

.nav-1 input {
    margin-right: 10px;
}

/* header */

header aside {
    background-color: lightgrey;
    height: 200px;
}

.aside-1 {
    flex: 1.25;
    background-image: url(../images/Namnlös\ design\ \(1\).png);
    background-size: 254px;
}

.aside-2 {
    flex: 1;
}

header div {
    flex: 3;
    height: 200px;
    text-align: center;
}

header div h1 {
    margin-top: 40px;
    font-size: 50px;
}

/* nav två */

.nav-2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 30px 15px 30px;
    height: 50px;
}

.nav-2 a {
    text-decoration: none;
    color: black;
}

.nav-2 input {
    width: 250px;
    height: 20px;
}

/*Search Box 
https://www.youtube.com/watch?v=UOGvJhvLUg0&ab_channel=CodingMarket*/

.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
	width: 300px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 300px;
	height: 35px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	background: #808080;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #777777;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 16px;
}

.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input {
	border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}




/*  Main    */
main {
    height: 550px;
    margin-bottom: 30px;
}
 .main-1 {
    flex: 1.25;
    background-color: grey;

    flex-direction: column;
    justify-content: space-evenly;
 }

 .main-2 {
    flex: 3;
    background-color:lightgrey;

    flex-direction: column;
 }

 .main-3 {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
 }
.main-1 h3 {
    margin: 20px 0px 15px 15px;
}

.con-1 {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 100%;
}


.con-1-1 {
    height: 100px;
    width: 56%;
}


.con-1-2 {
    background-image: url(../images/photo-1530630458144-014709e10016.jpg);
    background-size: contain;
    height: 90px;
    width: 30%;
}

.con-2 {
    flex: 2.7;
    width: 100%;

    flex-direction: row;
    align-items: flex-end;
}

.con-2-2 {
    background-color: lightgrey;
    flex: 1.5;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-2 h3{
    margin: 20px 0px 15px 15px;
}

.con-2 p {
    width: 45%;
    height: 99%;
    text-align: center;
    margin: 0px 20px 0px 20px;
}

.img-con {
    width: 55%;
    height: 100%;
    margin-right: 20px;
    flex-direction: column;
    text-align: center;
}

.img {
    width: 100%;
    height: 80%;

    background-image: url(../images/laura-chouette-_nCAYZjHg5I-unsplash\ \(1\).jpg);
    background-size: cover;
}

.img-con h4 {
    color: white;
    margin-top: 15px;
}

.carousel {
    flex-direction: row;

    height: 100%;
    width: 600px;
    background-color: lightgreen;
    overflow-x: scroll;
}

.item-1 {
    width: 200px;
    height: 100%;
    background-image: url(../images/shoes.jpg);
    margin: 0 10px 0 10px;
}

.main-3 div {
    height: 175px;
    width: 100%;
    background-color:grey;
}


/* TESTAR SÅ ATT DET SKA FUNKA I MAIN*/


/* Utility Classes*/

.add-flex {
    display: flex;
}

.nav-margin {
    margin: 5px;
}

.margin-left {
    margin-left: 30px;
}

.margin-right {
    margin-right: 30px;
}

.margin-20 {
    margin: 0 20px 0 20px;
}